<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.StationReservedRecordMapper">

    <resultMap id="BaseResultMap" type="entity.StationReservedRecord">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="widget567019225999212548" column="widget_567019225999212548" jdbcType="VARCHAR"/>
            <result property="widget567019225999212547" column="widget_567019225999212547" jdbcType="TIMESTAMP"/>
            <result property="widget567019225999212546" column="widget_567019225999212546" jdbcType="TIMESTAMP"/>
            <result property="widget567019225999212545" column="widget_567019225999212545" jdbcType="VARCHAR"/>
            <result property="widget567019225999212544" column="widget_567019225999212544" jdbcType="VARCHAR"/>
            <result property="documentId" column="document_id" jdbcType="VARCHAR"/>
            <result property="tabDocId" column="tab_doc_id" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="approverId" column="approver_id" jdbcType="VARCHAR"/>
            <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
            <result property="formId" column="form_id" jdbcType="VARCHAR"/>
            <result property="processId" column="process_id" jdbcType="VARCHAR"/>
            <result property="owner" column="owner" jdbcType="VARCHAR"/>
            <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
            <result property="creationDate" column="creation_date" jdbcType="TIMESTAMP"/>
            <result property="lastUpdatedBy" column="last_updated_by" jdbcType="VARCHAR"/>
            <result property="lastUpdateDate" column="last_update_date" jdbcType="TIMESTAMP"/>
            <result property="objectVersionNumber" column="object_version_number" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,widget_567019225999212548,widget_567019225999212547,
        widget_567019225999212546,widget_567019225999212545,widget_567019225999212544,
        document_id,tab_doc_id,status,
        approver_id,tenant_id,form_id,
        process_id,owner,created_by,
        creation_date,last_updated_by,last_update_date,
        object_version_number
    </sql>
</mapper>
